@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.card-shadow {
  box-shadow: 0px 4px 20px rgba(33, 33, 33, 0.08);
}

.fab-shadow {
  box-shadow: 0px 8px 32px rgba(33, 33, 33, 0.12);
}

.active-chip {
  background-color: #ff5722;
  color: white;
  box-shadow: 0 4px 14px 0 rgba(255, 87, 34, 0.39);
}

/* Oculta scrollbar pero conserva el scroll funcional */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.burger-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}
